.popup-window {
  height: 100%;
  width: 33%;
}
.active {
  display: block;
}
.add-input {
  visibility: hidden;
  width: 100%;
  position: relative;
  padding: 22px;
  background-color: var(--general-text-color);
  border-radius: 8px;
  padding-bottom: 22px;
  z-index: 1;
  transform: translateY(10%);
}
.add-input__text {
  padding-top: 12px;
  font-size: 12px;
}
.add-input__item {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-top: 12px;
}
.wrap-btn {
  display: flex;
  align-items: center;
}
.search__add-elem > span {
  display: flex;
  align-items: center;
}
.wrap-btn__item {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 4px solid;
  background-color: var(--general-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.wrap-btn__number {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 48px;
}

.deactive {
  display: none;
}

.--select-years {
  margin-top: 12px;
}
.--deactive-btn-color {
  border-color: #cecece;
  color: #cecece;
}
.--active-btn-color {
  border-color: #3077c6;
  color: #3077c6;
}
.js-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
