.homes {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--accent-color);
}

.homes .title {
  text-align: center;
  margin-bottom: 106px;
}

.slider__items {
  display: flex;
  margin: 50px 0;
  align-items: space-between;
  justify-content: space-around;
  position: relative;
  column-gap: 16px;
}

.slider__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slider__img {
  height: 296px;
  margin-bottom: 24px;
}

.right-arrow {
  position: absolute;
  top: calc(50% - 84px);
  right: -14px;
}

.svg_transform {
  transform: rotate(180deg);
}

.slider__descr {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.slider__descr-header {
  color: var(--color-btn);
  font-size: 24px;
  font-weight: 400;
}

.slider__descr-text {
  color: var(--text-color);
  font-size: 24px;
  font-weight: 400;
}

.slider__items-el {
  flex-wrap: wrap;
}

.--bottom {
  margin-bottom: 3rem;
}
