.header {
  display: flex;
  padding-top: 51px;
  justify-content: space-between;
  padding-bottom: 30px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.menu__label {
  width: 210px;
  height: 40px;
}

.header-icon {
  display: flex;
  width: 95px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu__text {
  text-decoration: none;
  color: var(--general-text-color);
  font-size: 24px;
  font-weight: 400;
}

.menu__text--margin-24 {
  margin-right: 24px;
  margin-left: 24px;
}

.delimiter {
  position: relative;
  margin-right: 48px;
}

.delimiter:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 4px;
  width: 85%;
  background-color: var(--accent-color-line);
  border: none;
  animation: delim 250ms;
}

@keyframes delim {
  0% {
      top: 80%;
      opacity: 0;
  }
  80% {
      top: 100%;
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}
.logo-btm {
  background: transparent;
  border: 0;
}

li {
  display: flex;
  justify-content: center;
  position: relative; 
}

.menu__btn-night {
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.menu__btn-night--size-m {
  width: 30px;
  height: 30px;
}

.menu__icon-acount {
  width: 40px;
  height: 40px;
}